<%= form_for [client, announcement] do |form| %>
  <div>
    <%= form.text_field :name, :placeholder => "Announcement name" %>
  </div>
  <div>
    <%= form.text_field :description, :placeholder => "Description" %>
  </div>
  <div>
    <%= form.datetime_select :datetime, ampm: true, seconds: false %>
  </div>
  <div>
    <%= form.submit %>
  </div>
<% end %>
