<tr>
  <td><%= link_to journalist.full_name, journalist %></td>
  <td><%= abbreviate(journalist.publications, :name) %></td>
  <td><%= abbreviate(journalist.topics, :name) %></td>
  <td><%= journalist.total_pitches %></td>
  <td><%= journalist.acceptance_rate %></td>
</tr>
