<tr>
  <td><%= pitch.created_at.strftime("%b %d, %Y") %></td>
  <td><%= pitch.client.name %></td>
  <td><%= pitch.announcement.name %></td>
  <td><%= pitch.subject %></td>
  <td><%= pitch.status %></td>
</tr>

