<tr class="pitch-row">
  <td><%= pitch.client.name %></td>
  <td><%= link_to pitch.announcement_name, announcement_path(pitch.announcement) %></td>
  <td><%= link_to pitch.subject, pitch_path(pitch) %></td>
  <td><%= link_to pitch.journalist.full_name, journalist_path(pitch.journalist) %></td>
  <td><%= abbreviate(pitch.publications, :name) %></td>
  <td>
    <div class="selection-box">
    <%= form_for pitch do |form| %>
      <%= form.select(:status, Pitch::STATUSES,{}, {selected: pitch.status, class: "pitch-status"}) %>
    <% end %>
  </div>
  </td>
  <td><%= link_to "Send follow-up", new_batch_pitch_path, class:"followup-button" %></td>
</tr>
