<div class="flash-errors">
  <% if flash[:error] %>
    <%= flash[:error] %>
<% end %>
</div>

<div class="page-header">
  <div class="page-title">
    <h2>Create a new pitch</h2>
  </div>

  <%= form_for @pitch, url: batch_pitches_path do |form| %>
    <div class="header-field">
      <% if @announcement.present? %>
        <h5><span class="header-name"><%= @announcement.name %></span></h5>
        <input type="hidden" value="<%= @announcement.id %>" name="pitch[announcement_id]" />
      <% else %>
          <%= form.collection_select(:announcement_id, @announcement_list, :id, :name, {}, {class:"client-list"}) %>
      <% end %>
    </div>
</div>

<div class="page-content">
  <div class="form">
    <%= render "form", pitch_topic: @pitch_topic, form: form %>
  <% end %>
  </div>
  <div class="reminder">
    <div class="reminder-header">
      <%= image_tag "/bulb.png", class:"reminder-image" %>
      <h4>Pitch tips</h4>
    </div>
    <div class="reminder-content">
      <p>Write a concise, to-the-point pitch email using the form to the left.</p>
      <p>Your pitch should be no more than 5 - 6 sentences.</p>
      <p>When finished drafting your pitch, select the topics related to this
      pitch to reveal relevant journalists.</p>
      <p>When finished, click the "Send pitch" button to email your selected
      journalists.</p>
    </div>
  </div>
</div>
