<%= form_for @pitch, url: announcement_batch_pitches_path do |form| %>
  <%= form.text_field :subject, :placeholder => "Subject" %>
  <%= form.text_area :body, :placeholder=> "Body" %>
  <div>
  <%= form.fields_for @pitch_topic do |topic_fields| %>
    <%= render "pitch_topics/form", fields: topic_fields %>
  <% end %>
</div>
<div>
<%= form.collection_check_boxes(:journalist_id, Journalist.all, :id, :full_name) do |box| %>
  <%= box.label(class: "unselected-journalist") %>
  <%= box.check_box(class: "unselected-journalist") %>
<% end %>
</div>
  <%= form.submit %>
<% end %>
<div class="journalist-list"></div>
