<div id="side-bar">
  <ul>
    <li><%= link_to "a", journalists_path %></li>
    <li><%= link_to "b", clients_path %></li>
    <li><%= link_to "c", announcements_path %></li>
    <li><%= link_to "d", pitches_path %></li>
    <li><%= link_to "e", journalists_path %></li>
  </ul>
  <ul>
    <li><%= link_to "Journalists", journalists_path %></li>
    <li><%= link_to "Clients", clients_path %></li>
    <li><%= link_to "Announcements", announcements_path %></li>
    <li><%= link_to "Pitches", pitches_path %></li>
    <li><%= link_to "Journalists", journalists_path %></li>
  </ul>
</div>
